# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
MDB5-STANDARD-UI-KIT-Free-9.0.0
planning_documents

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
